<!DOCTYPE html>
<html>
<head>
  <title>Friend App Demo</title>
</head>
<body>
  <h2>Friend App Chat + Call Demo</h2>
  <textarea id="chat" cols="50" rows="10" readonly></textarea><br>
  <input id="msg" placeholder="Type message..." />
  <button id="send">Send</button>
  <br><br>
  <video id="me" autoplay playsinline muted></video>
  <video id="friend" autoplay playsinline></video>

  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script src="./script.js"></script>
</body>
</html>
