<!-- <!DOCTYPE html>
<html>

<head>
  <title>Friend App Demo</title>
</head>

<body>
  <h2>Friend App Chat + Call Demo</h2>
  <textarea id="chat" rows="10" cols="40"></textarea><br>
  <input id="msg" />
  <button id="send">Send</button>

  <video id="me" autoplay playsinline></video>
  <video id="friend" autoplay playsinline></video>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="/script.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Friend App Demo</title>
</head>
<body>
  <h2>Friend App Chat + Call Demo</h2>
  <textarea id="chat" rows="10" cols="40"></textarea><br>
  <input id="msg" />
  <button id="send">Send</button>
  <button id="skipBtn">Skip</button>
  <br><br>
  <video id="me" autoplay playsinline></video>
  <video id="friend" autoplay playsinline></video>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>
